.page-footer {
    bottom:0px;
    background-color: #2d79db;
    width:100%;
    height: 5rem;
    // padding-top: 10%;
}

.social-text {
    color: #ffffff;
    text-transform: uppercase;
    font          : 20px "Lato", sans-serif;
}

.text-center {
    align-items: center;
    // padding-left: 40%;
}