@font-face {
    font-family: "Comic Sans MS";
    src: url("./Comic Sans MS.woff");
  }
  
  @font-face {
    font-family: "NewBold";
    src: url("./NewBold.woff");
  }
  
  @font-face {
    font-family: "Avenir";
    src: url("./Avenir.woff");
  }
  
  @font-face {
    font-family: "AvenirBlack";
    src: url("./Avenir-Black.woff");
  }