<body>
<div class="toolbar-padding">
    <!-- <p>what-we-do works!</p> -->
    <div>
      <img class="image" src="/assets/images/thinking.jpg"/>
      <div class= "heading-text">About Us</div>
    </div>
    <div>
      <h3>Still on the old process?</h3>
      <p class="details">We can to help you upgrade.</p>
      
    </div>
    <div class="col-md-6 offset-3">
      <div class="more-div">
      <p class="process">Foirfe Process & Product solutions is 
      Ireland’s leading Innovative Research, Development & Application service provider delivering 
      simple, robust and sustainable process & product solutions to our clients in food & beverages sectors.</p>
    </div>
    </div>
    <!-- <div class="jumbotron">
      <h1 class="display-5">We are here!</h1>
      <p class="lead">This is a simple hero unit, a simple  component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div> -->
    <app-footer></app-footer>
</div>
</body>