  <div class="toolbar-padding toolbar-padding-background">
    <div class="container bg-img">
      <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/assets/images/mission_correct.jpeg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/images/graph.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/images/system.jpg" alt="Third slide">
            </div>
            <div class="carousel-item active">
              <img class="d-block w-100" src="/assets/images/mission_correct.jpeg" alt="Fourth slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/images/graph.jpg" alt="Fifth slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/assets/images/system.jpg" alt="Sixth slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon fontIcon" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon fontIcon" aria-hidden="false"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="text">
        <div class="heading">New product development: Science and sustainability</div>
        Every organisation implements their own unique approach(es) to ensure a product’s success.
        There are various Food & Beverage organisations who are very good at adopting spearhead approach, however, with
        the best of the intentions they cannot add an additional prong due to various reasons e.g., contract
        manufacturing, costs involved in setting-up an efficient innovation team, unavailability of infrastructure, etc.
        Spearhead approach can be defined loosely as all actions taken ex-factory e.g., Aggressive marketing campaigns,
        establishing efficient supply-chain, sales and customer support teams etc. However, an addition prong can be
        added to Spearhead approach which is internal to the organisation e.g., establishing efficient innovation &
        quality teams, making efficient production processes etc. An additional prong to spearhead will give confidence
        and additional stability on product landing. We, Foirfe Process and Product solutions, can be an additional
        prong to your spearhead and ensure your product can be produced efficiently and meet customer product
        requirements.
        <br /> Please <a href="/app/contact/contact.component.html">contact us</a> if you would like to know how we can
        work together. <br /><br />


        If you are looking for partners to:<br /><br />
        • Turn your ideas into commercially viable products <br />
        • Make improved versions of your existing product range <br />
        • Make your existing production process more efficient.<br />
        <br />
        We at Foirfe Process and Product solutions have significant experience working on Innovation, renovation and
        optimisation projects. Please contact us to discuss how we can work together to innovate/renovate/optimise your
        product range. <br />
      </div>

      <div class="row">
        <div class="col-md-7 col-offset-2 image-div">
          <svg class="back-bg" width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
            <defs>
              <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1" />
                <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1" />
              </linearGradient>
            </defs>
            <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_01)"
              d="M616.656,2.494 L89.351,98.948 C19.867,111.658 -16.508,176.639 7.408,240.130 L122.755,546.348 C141.761,596.806 203.597,623.407 259.843,609.597 L697.535,502.126 C748.221,489.680 783.967,441.432 777.751,392.742 L739.837,95.775 C732.096,35.145 677.715,-8.675 616.656,2.494 Z" />
          </svg>
          <svg width="100%" viewBox="0 0 700 500">
            <clipPath id="clip-path">
                <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
            </clipPath>
          <image clip-path="url(#clip-path)" xlink:href="/assets/images/commerce_2.png" width="75%"
          height="465" class="svg__image" class="image" />
          </svg>
        </div>
        <div class="col-md-5 col-offset-2 text_details">
          Those who work in Food & Beverage industry appreciate the amount of work involved in commissioning a new or
          existing product in a new manufacturing plant to produce a finished product that meets the intended
          specification. We at Foirfe Process and Product solutions have significant experience working with process
          engineers to identify critical control points and establish control limits at each processing segment to
          deliver consistent production of high quality product. If you are commissioning a new or upgrading existing
          process, get in-touch to know how we can work together to optimise and make your process more efficient to
          deliver the product you want.
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-offset-2 text_details">
          Food & beverage products and their ingredients are dynamic systems; molecular reactions within them never
          cease to happen. Due to the dynamic nature of Food & beverage products, their manufacturing is very different
          from the manufacturing of machines or any other inert products. During the manufacture of Food & Beverages
          external factors (Temperature, humidity, air quality etc), internal factors (composition, ingredient
          interactions, age, pH etc) and processing conditions (heat treatment, pressure, filtration, blending,
          carbonation, filling etc) will have significant impact on the final product functionality & quality. Foirfe
          Product and Process solutions have experience in identifying/addressing processing effects on ingredient
          interactions and subsequent quality and functionality of finished products. Please contact us to discuss how
          we can work together to minimise reworks, product wastage and improve production “hit rate”.
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 col-offset-2 image-div">
          <svg class="back-bg" width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
            <defs>
              <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1" />
                <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1" />
              </linearGradient>
            </defs>
            <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_01)"
              d="M616.656,2.494 L89.351,98.948 C19.867,111.658 -16.508,176.639 7.408,240.130 L122.755,546.348 C141.761,596.806 203.597,623.407 259.843,609.597 L697.535,502.126 C748.221,489.680 783.967,441.432 777.751,392.742 L739.837,95.775 C732.096,35.145 677.715,-8.675 616.656,2.494 Z" />
          </svg>
          <svg width="100%" viewBox="0 0 700 500">
            <clipPath id="clip-path">
                <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
            </clipPath>
          <image clip-path="url(#clip-path)" xlink:href="/assets/images/train_2.png" width="75%"
          height="465" class="svg__image" class="image" />
          </svg>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 col-offset-2 image-div">
          <svg class="back-bg" width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
            <defs>
              <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1" />
                <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1" />
              </linearGradient>
            </defs>
            <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_01)"
              d="M616.656,2.494 L89.351,98.948 C19.867,111.658 -16.508,176.639 7.408,240.130 L122.755,546.348 C141.761,596.806 203.597,623.407 259.843,609.597 L697.535,502.126 C748.221,489.680 783.967,441.432 777.751,392.742 L739.837,95.775 C732.096,35.145 677.715,-8.675 616.656,2.494 Z" />
          </svg>
          <svg width="100%" viewBox="0 0 700 500">
            <clipPath id="clip-path">
                <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
            </clipPath>
          <image clip-path="url(#clip-path)" xlink:href="/assets/images/effective_2.png" width="75%"
          height="465" class="svg__image" class="image" />
          </svg>
        </div>

        <div class="col-md-5 col-offset-2 text_details">
          Innovation of new products is no longer the sole responsibility of the organisational R&D department; it is a
          collective effort of whole organisation. Innovation is not just for technical people. Technical people are
          generally innovative anyway. Innovation is a company value; everyone in the company must understand it and
          know how to work together on it to deliver it effectively. Foirfe can help unlock your innovation capability
          by providing training and mentoring from both a technical and management perspective to your wider team. This
          will help your company become more innovative to ensure long term success. Get in-touch with us if you want to
          build effective innovation project teams for accelerating your product launches.
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-offset-2 text_details">
          We live in fast world. The rate of product innovation in the Food industry is staggering! New start-up
          companies are being formed every day. Brilliant concepts are emerging. If you have a market concept and want
          to develop an appropriate product or you already have a product concept that you want to commercialise it,
          Foirfe can help. We provide fast, targeted, effective product development at the pace your business operates.
          We understand business and we know how to make innovation deliver for your company.
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 col-offset-2 image-div">
          <svg class="back-bg" width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
            <defs>
              <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1" />
                <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1" />
              </linearGradient>
            </defs>
            <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_01)"
              d="M616.656,2.494 L89.351,98.948 C19.867,111.658 -16.508,176.639 7.408,240.130 L122.755,546.348 C141.761,596.806 203.597,623.407 259.843,609.597 L697.535,502.126 C748.221,489.680 783.967,441.432 777.751,392.742 L739.837,95.775 C732.096,35.145 677.715,-8.675 616.656,2.494 Z" />
          </svg>
          <svg width="100%" viewBox="0 0 700 500">
            <clipPath id="clip-path">
                <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
            </clipPath>
          <image clip-path="url(#clip-path)" xlink:href="/assets/images/worldwide_2.png" width="75%"
          height="465" class="svg__image" class="image" />
          </svg>
        </div>

      </div>
      <div class="row">
        hello
        <div class="owl-carousel owl-carousel1 owl-theme">
          <div><div> Your Content </div></div>
          <div><div> Your Content </div></div>
          <div><div> Your Content </div></div>
          <div><div> Your Content </div></div>
        </div>
       </div>
      </div>
      
    <app-footer></app-footer>
  </div>