.blog-sidebar {
    padding-left: 7%;

}

.card {
    background-image: linear-gradient(-90deg, #11797d, #3a4892);
    opacity       : 0.9 !important;
    color: white;
    margin: 0.5rem;
    max-height: 15rem;
    height: 15rem;
}

.card img{
background-color: rgba(153, 153, 153, 0.3);
}

.card-container{
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.content {
    margin-top: 5%;
}


@media only screen and (max-width: 768px) {
    .card-img-right {
        display: none;
    }

    .col-sm-6 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}