<div class="toolbar-padding">
    <p>contact works!</p>
    <p>
    Naming
    Originally, the rewrite of AngularJS was called "Angular 2", but this led to confusion among developers. To clarify, the Team announced that separate terms should be used for each framework with "AngularJS" referring to the 1.X versions and "Angular" without the "JS" referring to versions 2 and up.[7]
    
    Version 2
    Angular 2.0 was announced at the ng-Europe conference 22–23. October 2014.[8][9] The drastic changes in the 2.0 version created considerable controversy among developers.[10] On April 30, 2015, the Angular developers announced that Angular 2 moved from Alpha to Developer Preview.[11] Angular 2 moved to Beta in December 2015,[12] and the first release candidate was published in May 2016.[13] The final version was released on September 14, 2016.
    
    Version 4
    On 13 December 2016 Angular 4 was announced, skipping 3 to avoid a confusion due to the misalignment of the router package's version which was already distributed as v3.3.0.[14] The final version was released on March 23, 2017.[15] Angular 4 is backward compatible with Angular 2.[16]
    
    Angular version 4.3 is a minor release, meaning that it contains no breaking changes and that it is a drop-in replacement for 4.x.x.
    
    Features in version 4.3
    
    Introducing HttpClient, a smaller, easier to use, and more powerful library for making HTTP Requests.
    New router life cycle events for Guards and Resolvers. Four new events: GuardsCheckStart, GuardsCheckEnd, ResolveStart, ResolveEnd join the existing set of life cycle event such as NavigationStart.
    Conditionally disable animations.
    Version 5
    Angular 5 was released on November 1, 2017.[17] Key improvements in Angular 5 include support for progressive web apps, a build optimizer and improvements related to Material Design.[18]
    
    Version 6
    Angular 6 was released on May 4, 2018.[19]. This is a major release focused less on the underlying framework, and more on the toolchain and on making it easier to move quickly with Angular in the future, like: ng update, ng add, Angular Elements, Angular Material + CDK Components, Angular Material Starter Components, CLI Workspaces, Library Support, Tree Shakable Providers, Animations Performance Improvements, and RxJS v6.
    
    Version 7
    Angular 7 was released on October 18, 2018. Updates regarding Application Performance, Angular Material & CDK, Virtual Scrolling, Improved Accessibility of Selects, now supports Content Projection using web standard for custom elements, and dependency updates regarding Typescript 3.1, RxJS 6.3, Node 10 (still supporting Node 8).[20]
    
    Version 8
    Angular 8 was released on May 28, 2019. Featuring Differential loading for all application code, Dynamic imports for lazy routes, Web workers, TypeScript 3.4 support, and Angular Ivy as an opt-in preview. Angular Ivy opt-in preview includes:[21]
    
    Generated code that is easier to read and debug at runtime
    Faster re-build time
    Improved payload size
    Improved template type checking
    Backwards compatibility
    Version 9
    Angular 9 was released on February 6, 2020. Version 9 moves all applications to use the Ivy compiler and runtime by default. Angular has been updated to work with TypeScript 3.6 and 3.7. In addition to hundreds of bug fixes, the Ivy compiler and runtime offers numerous advantages:
    
    Smaller bundle sizes
    Faster testing
    Better debugging
    Improved CSS class and style binding
    Improved type checking
    Improved build errors
    Improved build times, enabling AOT on by default
    Improved Internationalization
    Future releases
    Since v9, the Angular team has moved all new applications to use the Ivy compiler and runtime. They will be working on Ivy to improve output bundle sizes and development speeds.[citation needed]
    
    Each version is expected to be backward-compatible with the prior release. The Angular development team has pledged to do twice-a-year upgrades.
    
    Support policy and schedule
    All the major releases are supported for 18 months. This consists of 6 months of active support, during which regularly-scheduled updates and patches are released. It is then followed by 12 months of long-term support (LTS), during which only critical fixes and security patches are released.[22]
    
    Supported Angular Versions
    Version	Status	Released	Active Ends	LTS Ends
    ^9.0.0</p>
</div>
