h3{
    text-align    : center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font          : 20px "Lato", sans-serif;
    color         : #111;
    padding-top: 5%;
}
.form {
    text-align    : center;
    color         : #111;
    font-size: medium;
    // padding-top: 10%;
}

.container {
    background-image: url("/assets/images/bg_contact_us.jpg");
    min-height      : 150%;
    position           : relative;
    // opacity            : 0.65;
    background-position: left;
    background-size    : 50%;
    background-repeat    : no-repeat;
}

.image {
    // min-height      : 150%;
    position: absolute;
    width: 50%;
    height: 55%;
    padding-top: 10%;
}
.middle {
    width: 90%;
    position: relative;
    padding-left: 50%;
    padding-top: 2%;
    align-items: center;
}

.submit-button {
    align-items: center;
    padding-left: 65%;
    padding-top: 3%;
    width: auto;

}

.padding-top {
    padding-top: 10%;
}