.submit-button button {
    background-color: #2d79db;
}

.mat-form-field-flex .mat-form-field-outline {
    background-color: #fff;
    border-radius   : 10px;
}

@media only screen and (min-width: 768px) {

    h3 {
        text-align    : center;
        letter-spacing: 5px;
        text-transform: uppercase;
        font          : 24px "Avenir", sans-serif;
        font-weight   : bold;
        color         : rgba(0, 49, 156, 0.575);
        padding-top   : 5%;
    }


    p {
        text-align    : center;
        // letter-spacing: 5px;
        // text-transform: uppercase;
        font          : 18px "Avenir", sans-serif;
        font-weight   : bold;
        // color         : rgba(0, 49, 156, 0.575);
        // padding-top   : 5%;
        padding: 2%;
        padding-bottom: 3%;
    }

    a:hover {
        color: grey;
    }

    a {
        color: lightskyblue;
    }

    .fill_gap {
        min-height: 40px;
    }
    .contact_us {
        background-image: linear-gradient(-90deg, #11797d, #3a4892);
        opacity       : 0.9 !important;
        color: white;
    }

    .fill_gap2 {
        min-height: 100px;
    }

    .form {
        text-align    : center;
        color         : #111;
        font-size     : medium;
    }

    app-footer {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .container {
        // background-image: url("/assets/images/bg_contact_us.jpg");
        min-height            : 150%;
        position              : relative;
        background-position   : left;
        background-size       : 50%;
        background-repeat     : no-repeat;
        padding-bottom        : 2rem;
    }

    .image {
        // min-height      : 150%;
        position      : absolute;
        width         : 100%;
        max-height    : 150%;
        border-radius : 6%;
        opacity       : 0.9 !important;
        // padding-top: 10%;
    }

    .contact_image {
        padding-top  : 10%;
        padding-right: 10%;
    }

    .middle {
        width          : 60%;
        position       : relative;
        // padding-left: 50%;
        padding-top    : 2%;
        align-items    : center;
    }

    .submit-button {
        align-items : center;
        padding-left: 62%;
        padding-top : 3%;
        width       : auto;

    }

    .padding-top {
        padding-top: 10%;
    }

}

@media only screen and (max-width: 768px) {

    
    p {
        text-align    : justify;
        // letter-spacing: 5px;
        // text-transform: uppercase;
        font          : 14px "Avenir", sans-serif;
        // font-weight   : bold;
        // color         : rgba(0, 49, 156, 0.575);
        // padding-top   : 5%;
        padding: 2%;
        padding-bottom: 3%;
    }

    a:hover {
        color: grey;
    }

    a {
        color: lightskyblue;
    }

    .fill_gap {
        min-height: 20px;
    }
    .contact_us {
        background-image: linear-gradient(-90deg, #11797d, #3a4892);
        opacity       : 0.9 !important;
        color: white;
    }

    .fill_gap2 {
        min-height: 100px;
    }

    .middle {
        width       : 90%;
        position    : relative;
        padding-left: 10%;
        padding-top : 2%;
        align-items : center;
    }

    .submit-button {
        align-items   : center;
        padding-left  : 40%;
        padding-top   : 3%;
        padding-bottom: 20%;
        // width: auto;

    }

    .image {
        // min-height      : 150%;
        position      : relative;
        width         : 100%;
        height        : 100%;
        border-radius : 6%;
        opacity       : 0.9 !important;
        // padding-top: 10%;
    }

    h3 {
        text-align    : center;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight   : bold;
        font          : 15px "Avenir", sans-serif;
        color         : rgba(0, 49, 156, 0.575);
        padding-top   : 10%;
    }

    .form {
        text-align    : center;
        color         : #111;
        font-size     : small;
        // padding-top: 10%;
    }


}