<body>
  <div class="toolbar-padding container">
      <h3>We Would Like To Hear From You</h3>
      <div class = "form-group form">
          <label class="mdc-text-field mdc-text-field--outlined">
              <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id">
              <span class="mdc-notched-outline">
                <span class="mdc-notched-outline__leading"></span>
                <span class="mdc-notched-outline__notch">
                  <span class="mdc-floating-label" id="my-label-id">Name</span>
                </span>
                <span class="mdc-notched-outline__trailing"></span>
              </span>
          </label>
      </div>
      
      <div class = "form-group form">
        <label class="mdc-text-field mdc-text-field--outlined">
          <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id">
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="my-label-id">Email</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
        </label>
      </div>

      <div class = "form-group form">
        <label class="mdc-text-field mdc-text-field--outlined">
          <input type="text" class="mdc-text-field__input" aria-labelledby="my-label-id">
          <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__notch">
              <span class="mdc-floating-label" id="my-label-id">Mobile Number</span>
            </span>
            <span class="mdc-notched-outline__trailing"></span>
          </span>
        </label>
      </div>
      <div class = "form-group form">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
  </div>
</body>
<script>
  mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));
</script>
