<!-- title and header goes here -->
<mat-toolbar color="primary" role="heading" class="nav">
  <span class="nav-title">
    <img src="/assets/images/foirfe.svg" alt="">
    <a routerLink="/"  class="ff-link">Foirfe</a>
  </span>
  <span class="example-spacer"></span>
  <span>
    <span class="nav-items">
      <a routerLink="/who"  class="ff-link">Who We Are?</a>
    </span>
    <span class="nav-items">
      <a routerLink="/what"  class="ff-link">What We Do?</a>
    </span>
    <span class="nav-items">
      <a routerLink="/resources"  class="ff-link">Resources</a>
    </span>
    <span class="nav-items">
      <a routerLink="/contact" class="ff-link">Conatct Us</a>
    </span>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>

<!-- footer goes here -->