<mat-toolbar color = "primary" role="heading" class="nav">
  <span class="nav-title">
    <a routerLink="/"  class="ff-link" (click)="activeLink = ''">
      <img src="/assets/images/Foirfe-online.jpg" alt="">
    </a>
  </span>
  <span class="example-spacer"></span>
  <span *ngIf="!mobile">
    <span class="nav-items">
      <a routerLink="/what"  class="ff-link">What We Do?</a>
    </span>
    <span class="nav-items">
      <a routerLink="/about"  class="ff-link">Who We Are?</a>
    </span>
    <span class="nav-items">
      <a routerLink="/resources"  class="ff-link">Resources</a>
    </span>
    <span class="nav-items">
      <a routerLink="/contact" class="ff-link">Contact Us</a>
    </span>
  </span>
</mat-toolbar>

<nav mat-tab-nav-bar mat-stretch-tabs *ngIf="mobile" class="nav-tabs">
  <a mat-tab-link *ngFor="let link of links"
     (click)="activeLink = link.link"
     routerLinkActive #rla="routerLinkActive"
     [active]="activeLink == link.link" [routerLink]="link.link">
     {{link.text}}
     <!-- <mat-icon aria-hidden="false">supervisor_account</mat-icon>
     <div *ngIf="activeLink == link.link">{{link.text}}</div> -->
    </a>
</nav>
<router-outlet></router-outlet>