.example-spacer {
    flex: 1 1 auto;
}

.nav {
    z-index: 1;
}
.nav-title a{
    font-size: 22px;
    color    : #fff;
    padding-left: 1rem;
}

.nav-items a {
    font-size: 16px;
    padding  : 1rem;
    color    : #fff;
}

.nav-title img{
    max-width: 50px;
    min-height: 50px;
}