.example-spacer {
    flex: 1 1 auto;
}

.nav {
    z-index         : 1;
    background-color: #fff;
    position        : fixed;
    min-height      : 80px;
}

.nav-title a {
    font-size     : 22px;
    letter-spacing: 5px;
    font-weight   : bold;
    color         : rgba(0, 2, 109, 0.575)
}

.nav-items a {
    font-size     : 15px;
    padding       : 1rem;
    text-transform: uppercase;
    color         : rgba(74, 72, 80, 0.575)
}

.nav-items .activeLink {
    color        : #4a3795 !important;
    border-bottom: 2px solid #4a3795;
    font-weight  : bold;
}

.nav-tabs a {
    font-size      : 12px;
    text-transform : uppercase;
    text-decoration: none;
}

.nav-title img {
    max-width : 75px;
    min-height: 75px;
}

.nav-tabs {
    margin-top      : 56px;
    background-color: #fff;
    position        : fixed;
    z-index         : 1;
    width           : 100%;
}

.nav-title-mobile {
    padding: 0px;
}

.mobile-toolbar {
    padding-top  : 0.5rem;
    padding-left : 0rem;
    padding-right: 0rem;
}

.icon-svg rect {
    fill: #11797d
}

.side-nav-item {
    text-transform     : uppercase;
    background-image   : linear-gradient(-90deg, #11797d, #3a4892);
    padding-top        : 1rem;
    padding-bottom     : 1rem;
    padding-left       : 1.5rem;
    padding-right      : 1.5rem;
    font-weight        : bold;
    // border          : 1px solid #ccc;
    border-color       : #ccc;
    border-style       : solid;
    border-width       : 1px 0px 1px 0px;
}

.side-nav-item.activeLink {
    // background-image   : linear-gradient(-90deg, #11797d, #3a4892);
    background-image : linear-gradient(-90deg, #e5eaf5, #d0bdf4, #a28089);
    color: #3a4892 !important;
}

.side-nav-item.activeLink a {
    color: #3a4892 !important;
}

.side-nav-item a {
    color: #fff !important;
}

.example-sidenav {
    position        : fixed;
    background-image: linear-gradient(-90deg, #11797d, #3a4892);
}

@media only screen and (max-width: 768px) {
    .toolbar-padding {
        padding-top: 0px !important;
    }

    .nav-title a {
        font-size     : 15px;
        letter-spacing: 5px;
        font          : 15px "Avenir", sans-serif;
        color         : rgba(74, 72, 80, 0.575)
    }

    .nav-items a {
        font-size     : 12px;
        text-transform: uppercase;
        font          : 12px "Avenir", sans-serif;
    }

    .nav-title img {
        max-width : 60px;
        min-height: 60px;
    }

    .example-container {
        display       : flex;
        flex-direction: column;
        position      : absolute;
        top           : 0;
        bottom        : 0;
        left          : 0;
        right         : 0;
    }

    .example-is-mobile .example-toolbar {
        position: fixed;
        /* Make sure the toolbar will stay on top of the content as it scrolls past. */
        z-index : 2;
    }

    h1.example-app-name {
        margin-left: 8px;
    }

    .example-sidenav-container {
        /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
        causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
        flex: 1;
    }

    .example-is-mobile .example-sidenav-container {
        /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
        `<body>` to be our scrolling element for mobile layouts. */
        flex: 1 0 auto;
    }
}