@media only screen and (min-width: 768px) {
.bg-img {
  // background-image: url("/assets/images/foirfe_transparent.png");
  min-height      : 100%;
  position             : relative;
  opacity              : 0.7;
  background-attachment: fixed;
  background-position  : center;
  background-repeat    : no-repeat;
  background-size      : cover;
}

.heading-text-section {
  color           : #555;
  // background-color: white;
  text-align      : center;
  padding-top         : 2%;
  text-align      : justify;
  // padding-left: 40%;
  position: relative;
  letter-spacing: 5px;
  text-transform: uppercase;
  font          : 20px "Lato", sans-serif;
}

.details {
  color           : #555;
  // background-color: white;
  text-align      : center;
  text-align      : justify;
  padding-top: 2%;
  border-radius: 10px;
}

// .first {
//   padding-left: 5%;
// }

// .last {
//   padding-right: 5%;
// }

.icon {
  // max-height: 1%;
  width: 60%;
  height:100px;
  padding-left: 33%;
  padding-top: 5%;
  display: block;
}

.box {
  align-items: center;
  max-width: 100%;
  // padding-left: 5%;
  // padding-left: 12%;
}


.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.know_more {
  font-size: small;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: right;
  padding-left: 50%;
  text-decoration: underline;
  color: blue($color: #000000);
}

.row {
  padding-bottom: 5%;
  padding-top: 5%;
}

.fontIcon{
  height: 50px;
  width: 50px;
  background-color:black;
  border-radius: 15px;
}

.person {
  max-width: 60%;
  max-height: 60%;
  padding-top: 5%;
}

.data {
  padding-top: 5%;
}

.carousel-inner img {
  width: 100%;
  height: 500px;
}

#slider .carousel-item {
  height: 500px;
}

.carousel-caption {
  font-size: 18px;
}

.carousel-item>img {
  width: 100%;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .bg-img {
    // background-image: url("/assets/images/foirfe_transparent.png");
    min-height      : 100%;
    position             : relative;
    opacity              : 0.7;
    background-attachment: fixed;
    background-position  : center;
    background-repeat    : no-repeat;
    background-size      : cover;
  }
  
  .heading-text-section {
    color           : #555;
    // background-color: white;
    text-align      : center;
    padding-top         : 2%;
    text-align      : justify;
    // padding-left: 40%;
    position: relative;
    letter-spacing: 5px;
    text-transform: uppercase;
    font          : 20px "Lato", sans-serif;
  }
  
  .details {
    color           : #555;
    // background-color: white;
    text-align      : center;
    // padding         : 50px 80px;
    text-align      : justify;
    // font-size: medium;
    padding-top: 2%;
  }
  
  .icon {
    // min-height: 100%;
    width: 66%;
    // max-width: 30%;
    height:110px;
    align-items: center;
    padding-left: 33%;
    padding-top: 5%;
    // display: block;
  }
  
  .box {
    align-items: center;
    max-width: 25%;
    // padding-left: 5%;
    // padding-left: 12%;
  }

  .row {
    padding-bottom: 5%;
    padding-top: 5%;
  }
}