<div class="toolbar-padding">
    <div class="bg-img">
        <!-- <div class = "motto-img">
            <img src = "/assets/images/mission_values.png"/>
        </div> -->
        <!-- <div class="row col-md-11 offset-1">
            
        </div> -->
        <!-- <div class="row">
            <div class="col-md-2 offset-1">
                <img src = "/assets/icons/man.png" class="person"/>
            </div>
        </div> -->
        <div class="row data">
            <div class="col-md-3 offset-1 box">
                <img src="/assets/icons/rocket.png" class="icon" alt="Mission" />
            </div>
            <div class="col-md-3 offset-1 box">
                <img src="/assets/icons/vision.png" class="icon" alt="Vision" />
            </div>
            <div class="col-md-3 offset-1 box">
                <img src="/assets/icons/values.png" class="icon" alt="Values" />
            </div>
            <div class="col-md-4 details">
                <div class="heading-text-section">
                    Our Mission
                </div>

                <div class="details-text">
                    To provide comprehensive product & process solutions to our clients in a timely, cost effective and
                    in a sustainable way.
                </div>
            </div>
            <div class="col-md-4 details">
                <div class="heading-text-section">
                    Our Vision
                </div>
                <div class="details-text">
                    To develop new products and value engineer products & processes by providing innovative approaches.
                    To ensure our clients make cost savings and ensure consistent increase in revenues.
                </div>
            </div>
            <div class="col-md-4 details">
                <div class="heading-text-section">
                    Our Values
                </div>
                <div class="details-text">
                    Respect: Respect people, cultures, environment & communities we operate in.
                    Adapt & Deliver: Integrate with client's work force and culture. Adapt to Client’s geographical and
                    work conditions to ensure timely delivery.
                    Be a champion: Provide unparalleled quality and cost -efficient on time project delivery. Be trusted
                    partners for our clients for all their process and product requirements.
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>