<main role="main" class="main">
  <div class="container row">
    <div class="col-md-12 blog-main">
      <!-- <h3 class="pb-3 mb-4 font-italic border-bottom">
        From the Firehose
      </h3> -->

      <div class="blog-post rounded">
        <h2 class="blog-post-title">{{resourcePost.title}}</h2>
        <p class="blog-post-meta">{{resourcePost.timestamp}}</p>
        <div [innerHTML]="resourcePost.htmltext" class="blog-post-detail"></div>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" routerLink="/resources" color="primary">Back To Menu</a>
          </li>
          <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li> -->
        </ul>
      </nav>

    </div>
  </div>
</main>
<app-scroll-top></app-scroll-top>
<app-footer></app-footer>