/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
    height: 100%;
}

body a {
    color: rgba(255, 255, 255, 0.726);
}

body {
    margin             : 0;
    font-family        : "Avenir", sans-serif;
    background-size    : cover;
    background-image   : linear-gradient(-90deg, #e5eaf5, #d0bdf4, #a28089) !important;
    // Freeze Purple: #e5eaf5

    // Medium Purple: #d0bdf4

    // Purple Pain: #8458B3

    // Heavy Purple: #a28089
}

html {
    background-image: linear-gradient(-90deg, #e5eaf5, #d0bdf4, #a28089) !important;
}

.toolbar-padding {
    padding-top     : 64px;
    height          : 100%;
    background-image: linear-gradient(-90deg, #e5eaf5, #d0bdf4, #a28089);
}

.toolbar-padding-background {
    background-image : linear-gradient(-90deg, #e5eaf5, #d0bdf4, #a28089);
    background-repeat: no-repeat;
    background-size  : cover;
}

a.ff-link:hover {
    text-decoration: none;
    font-weight    : bold;
    text-shadow    : 0 0 3px #aaa;
    color          : #4a3795
}

.white-text {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .toolbar-padding {
        padding-top: 80px;
    }
}

/* spinner */

.loading-spinner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 50px;
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  @-webkit-keyframes spinner-fade {
    0% {
      background-color: #179ec7;
    }
    100% {
      background-color: transparent;
    }
  }

  @keyframes spinner-fade {
    0% {
      background-color: #179ec7;
    }
    100% {
      background-color: transparent;
    }
  }

  .loading-spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    -ms-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    -webkit-animation: spinner-fade 1s infinite linear;
    animation: spinner-fade 1s infinite linear;
  }

  .loading-spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .loading-spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  .loading-spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  .loading-spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .loading-spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
  }

  .loading-spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
  }

  .loading-spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .loading-spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
  }

  .loading-spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
  }

  .loading-spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .loading-spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
  }

  .loading-spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
  }