/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
    height: 100%;
}

body a {
    color: #4a3795;
}

body {
    margin          : 0;
    font-family     : Roboto, "Helvetica Neue", sans-serif;
    background-color: #eff7e5;
}

.toolbar-padding {
    padding-top: 64px;
    height     : 100%;
}

.toolbar-padding-background {
    background-image : url("/assets/images/foirfe_bg.png");
    background-repeat: no-repeat;
    background-size  : cover;
}

a.ff-link:hover {
    color          : #4a3795 !important;
    text-decoration: none;
    font-weight    : bold;
}

.white-text {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .toolbar-padding {
        padding-top: 104px;
    }
}