@media only screen and (min-width: 768px) {
  .carousel-inner img {
      width: 100%;
      height: 500px;
    }
    
    .row {
      padding: 5%;
      // text-decoration: wavy;
    }
    .text_details {
      text-align: justify;
    }
  
    .fontIcon{
      height: 50px;
      width: 50px;
      background-color:black;
      border-radius: 15px;
    }
    
    .information {
      padding: 1% !important;
      // background-color: #777;
      border-radius: 2%;
    }

    .details-info {
      text-align: justify;
    }

    .designation {
      text-transform: capitalize;
      font: outline;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: -2%;
    }
    .name {
      text-decoration: italic;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-weight: bold;
      padding: -5%;
    }
    .bg-img {
      // background-image: url("/assets/images/foirfe_transparent.png");
      // background-blend-mode: overlay;
      
      min-height      : 100%;
      position             : relative;
      opacity              : 0.99;
      background-attachment: fixed;
      background-position  : center;
      background-repeat    : no-repeat;
      background-size      : cover;
    }

    .image {
      width: 67%;
      height: 25%;
      text-align: center;
      padding-top: 3%;
      padding-left: 33%;

    }
    .customer-text {
      font-size: 32px;
      text-align: center;
      text-decoration: dotted;
      // font-style: italic;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .own-image {
      max-width: 100px;
      max-height: 100px;
      padding-left: 10%;
    }

    .owl-carousel {
      width: 90% !important;
      margin: 10% auto;
    }
    
    .owl-carousel .owl-nav {
      overflow: hidden;
      height: 0px;
    }
    
    .owl-carousel .nav-btn {
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 30% !important;
    }
    
    .owl-carousel .owl-prev.disabled,
    .owl-carousel .owl-next.disabled {
      pointer-events: none;
      opacity: 0.2;
    }
    
    .owl-carousel .prev-slide {
      // background: url(./assets/images/nav-icon.png) no-repeat scroll 0 0;
      left: -33px;
    }
    
    .owl-carousel .next-slide {
      // background: url(./assets/images/nav-icon.png) no-repeat scroll -24px 0px;
      right: -33px;
    }
    
    .owl-carousel .prev-slide:hover {
      background-position: 0px -53px;
    }
    
    .owl-carousel .next-slide:hover {
      background-position: -24px -53px;
    }
    #slider .carousel-item {
      height: 500px;
    }
    
    .carousel-caption {
      font-size: 18px;
    }
    
    .carousel-item>img {
      width: 100%;
    }
  }

.foirfe-img1,
.foirfe-img2 {
  position             : relative;
  opacity              : 0.7;
  background-attachment: fixed;
  background-position  : center;
  background-repeat    : no-repeat;
  background-size      : cover;
}

.foirfe-img1 {
  background-image: url("/assets/images/foirfe.svg");
  min-height      : 100%;
}

.foirfe-img2 {
  background-image: url("/assets/images/foirfe.svg");
  min-height      : 400px;
}

#heading {
  padding-top: 200%;
}

.caption {
  position  : absolute;
  left      : 0;
  top       : 40%;
  width     : 100%;
  text-align: center;
  color     : #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 2%;
  font-size: 150%;
  letter-spacing: 10%;

}

.caption span {
  color         : #453290;
  text-shadow   : 4px 4px 10px #ccc;
  padding       : 2%;
  font-size     : 45px;
  font-weight   : bold;
  width         : 10rem !important;
  min-width     : 10rem;
  max-width     : 10rem;
}

.foirfe-logo,
.foirfe-img1 {
  position           : relative;
  opacity            : 0.65;
  background-position: center;
  background-size    : cover;
}

// div {
//   display            : block;
//   // background-color: ;
// }

.card {
  text-align: center;
}

// body, html {
//   height: 100%;
//   margin: 0;
//   font: 400 15px/1.8 "Lato", sans-serif;
//   color: #777;
// }

* {
  box-sizing: border-box;
}

.text {
  color           : #777;
  background-color: white;
  text-align      : center;
  font-size       : 16px;
}

.foirfe-text-section {
  color           : #555;
  background-color: white;
  text-align      : center;
  padding         : 50px 80px;
  text-align      : justify;
}

.foirfe-text-section h3 {
  text-align    : center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font          : 20px "Lato", sans-serif;
  color         : #111;
}

.footer {
  // position:bott;
  bottom:0px;
  background-color:pink;
  width:100%;
  height: 10rem;
  padding-top: 10%;
  // bottom: ;
}