<body>
<div class="toolbar-padding">
    <div class="foirfe-img1">
        <div class="caption">
            <span class="" id="typedText"></span>
        </div>
    </div>

    <div class="foirfe-text-section">
        <h3>Who are We?</h3>
        <p>Foirfe Process & Product solutions is Ireland’s leading Innovative Research, Development & Application
            service provider delivering simple, robust and sustainable process & product solutions to our clients in
            food & beverages sectors.Foirfe Process & Product solutions is Ireland’s leading Innovative Research,
            Development & Application
            service provider delivering simple, robust and sustainable process & product solutions to our clients in
            food & beverages sectors.</p>
    </div>

    <div class="foirfe-img2">
        <div class="caption">
            <span class="border">Some Text</span>
        </div>
    </div>

    <div class="foirfe-text-section">
        <h3>Some Title</h3>
        <p>Foirfe Process & Product solutions is Ireland’s leading Innovative Research, Development & Application
            service provider delivering simple, robust and sustainable process & product solutions to our clients in
            food & beverages sectors.Foirfe Process & Product solutions is Ireland’s leading Innovative Research,
            Development & Application
            service provider delivering simple, robust and sustainable process & product solutions to our clients in
            food & beverages sectors.</p>
    </div>
        <app-footer></app-footer>
</div>
