// .container{
//   // background-image: url("/assets/images/foirfe.svg");
//   // background-color: #acd;
//   // background-repeat: initial;
//   background-size: 100%;
//   width: 100%;
//   height: 100%;
//   overflow: visible;
//   scroll-behavior: smooth;
//   z-index: 1;
// }

// #intro{
//   font-size: larger;
//   font-style: initial;
//   font-family: 'Segoe UI';
//   // background-color: rgb(98, 186, 230);
//   position: absolute;
//   box-sizing: border-box; 
//   scroll-padding-top: 10%;
//   text-align: justify;
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   // background-size: cover;
// }

// .foirfe-logo {
//   background-image: url("/assets/images/tech-background.jpg");
//   min-height: 100%;
// }

.foirfe-img1,
.foirfe-img2 {
  position             : relative;
  opacity              : 0.7;
  background-attachment: fixed;
  background-position  : center;
  background-repeat    : no-repeat;
  background-size      : cover;
}

.foirfe-img1 {
  background-image: url("/assets/images/foirfe.svg");
  min-height      : 100%;
}

.foirfe-img2 {
  background-image: url("/assets/images/tech-background.jpg");
  min-height      : 400px;
}

#heading {
  padding-top: 200%;
}

.caption {
  position  : absolute;
  left      : 0;
  top       : 40%;
  width     : 100%;
  text-align: center;
  color     : #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 2%;
  font-size: 150%;
  letter-spacing: 10%;

}

.caption span {
  color         : #000;
  text-shadow   : 4px 4px 10px #ccc;
  padding       : 2%;
  font-size     : 45px;
  font-weight   : bold;
  width         : 10rem !important;
  min-width     : 10rem;
  max-width     : 10rem;
}

.foirfe-logo,
.foirfe-img1 {
  position           : relative;
  opacity            : 0.65;
  background-position: center;
  background-size    : cover;
}

div {
  display            : block;
  // background-color: ;
}

// body, html {
//   height: 100%;
//   margin: 0;
//   font: 400 15px/1.8 "Lato", sans-serif;
//   color: #777;
// }

* {
  box-sizing: border-box;
}

.text {
  color           : #777;
  background-color: white;
  text-align      : center;
  font-size       : 16px;
}

.foirfe-text-section {
  color           : #555;
  background-color: white;
  text-align      : center;
  padding         : 50px 80px;
  text-align      : justify;
}

.foirfe-text-section h3 {
  text-align    : center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font          : 20px "Lato", sans-serif;
  color         : #111;
  ;
}