<head>
    <script src = "../../../node_modules/bootstrap/dist/css/bootstrap.css"></script>
</head>
<body>
    <div class="toolbar-padding">
        <div class="foirfe-msg">
            <div class="caption">
            <span class="border">Simple, Robust, Sustainable</span>
            </div>
        </div>

        <div class= "col-md-12 col-offset-2 border">
            <p>Foirfe Process & Product solutions is Ireland’s leading Innovative Research, Development & Application service provider delivering simple, robust and sustainable process & product solutions to our clients in food & beverages sectors.</p>
        </div>
        
        <!-- <div class="foirfe-msg">
            <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">LESS HEIGHT</span>
            </div>
        </div>
        
        <div style="position:relative;">
            <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
            </div>
        </div>
        
        <div class="foirfe-logo">
            <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>
            </div>
        </div>
        
        <div style="position:relative;">
            <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
            </div>
        </div>
        
        <div class="foirfe-logo">
            <div class="caption">
            <span class="border">COOL!</span>
            </div>
        </div> -->
    </div>
      
    <!-- <div class="toolbar-padding container">
        <div class="col-offset-2 col-11" id = "intro">Foirfe Process & Product solutions is Ireland’s leading Innovative Research, Development & Application service provider delivering simple, robust and sustainable process & product solutions to our clients in food & beverages sectors.
            Foirfe Process & Product solutions is Ireland’s leading Innovative Research, Development & Application service provider delivering simple, robust and sustainable process & product solutions to our clients in food & beverages sectors.
            Foirfe Process & Product solutions is Ireland’s leading Innovative Research, Development & Application service provider delivering simple, robust and sustainable process & product solutions to our clients in food & beverages sectors.
            Foirfe Process & Product solutions is Ireland’s leading Innovative Research, Development & Application service provider delivering simple, robust and sustainable process & product solutions to our clients in food & beverages sectors.
            Foirfe Process & Product solutions is Ireland’s leading Innovative Research, Development & Application service provider delivering simple, robust and sustainable process & product solutions to our clients in food & beverages sectors.
            Foirfe Process & Product solutions is Ireland’s leading Innovative Research, Development & Application service provider delivering simple, robust and sustainable process & product solutions to our clients in food & beverages sectors.
            Foirfe Process & Product solutions is Ireland’s leading Innovative Research, Development & Application service provider delivering simple, robust and sustainable process & product solutions to our clients in food & beverages sectors.
            
    </div>
    </div> -->
</body>